*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.hero
{
background-image: url(/image/pexels-eberhard-grossgasteiger-454880.jpg);
background-size: cover;
background-position: center;
height: 500px;   
position: relative;
overflow: hidden;



}

body
{
    font-family: sans-serif;
   flex: 100%;  
  text-align: justify;
 
  
  
  
}

h1, h2, h3, h4, h5, h6 
{
    margin: 20px; 
}

p{
    margin: 20px; 
    word-spacing: 10px;
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #04AA6D;
    overflow: hidden;    
        position: fixed; 
        top: 0;
        width: 100%  ;
        z-index: 2;
        
      
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    /* background-color: #04AA6D; */
    background-color: black;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }


 /* .menu-bar
{
     background-color: rgb(0,100,0); 
      text-align: center; 
     display: flex;  

} */

/* .menu-bar ul
{
     display: inline-flex; 
    list-style: none;
    color: #fff;
} */


/* .menu-bar ul li
{
     width: 120px;    
    margin: 15px;   
    padding: 15px;     
} */


/* .menu-bar ul li a
{
   text-decoration: none;
   color: #fff;
   
} */
 
/* .active, .menu-bar ul li:hover
{
    background-color: #2bab0d;
    border-radius: 3px;
} */
 
/* .menu-bar .fa
{
    margin-right: 8px;
}

.sub-menu-1
{
  display: none;  
}

.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background-color: rgb(0,100,0);
    margin-top: 15px;
    margin-left: 15px;
}
  
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}

  
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
} */

/* .menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
} */

/* .menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:#b2ff00;
} */

/* .fa-angle-right
{
    float: right;
} */

.content 
{
    padding: 0 10%;
    
    text-align: center;
   
    
    
}

.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
}

.content img{
    
    max-width: 100%; 
}

video{
    width: 70%;
    opacity: 0; 
    position: relative; 
    bottom: -40px; 
    transition: all 0.5s ease-out;
    z-index: 1;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Pagination links */
.pagination 
{
   
     text-align: center;
padding: 4%;
     
    
}

.pagination a {
    color: black;
    /* float: left; */
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}


  footer
  {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    color: #fff;
    background-color: #333;
    padding: 30px;
  }
  i{margin-right: 4px;}


  /* CSS rules for Intersection Observer */
h1, h2, h3, h4, h5, h6, p {
    opacity: 0; 
    position: relative; 
    bottom: -40px; 
    transition: all 0.5s ease-out;
    }
   
    .show {
    opacity: 1;
    bottom: 0;
    } 
     
    img {
        /* opacity: 0; 
        position: relative; 
        bottom: -40px; 
        transition: all 0.5s ease-out; */

        animation: fadein 10s;
    }

    @keyframes fadein {

        from {
            opacity: 0;
        }

       to {
        opacity: 1;
       }
        
    }
    
  